# --- BASURA DE PYTHON ---
__pycache__/
*.pyc

# --- ENTORNOS VIRTUALES ---
venv/
env/
.env
.venv/

# --- IDEs (Configuraciones de tu editor que no le sirven a otros) ---
.vscode/
.idea/

# --- ARCHIVOS DE SISTEMA ---
.DS_Store

# --- DATOS GENERADOS (Importante) ---
almacenamiento_servidor/
*.log
*.csv

# --- SECRETOS (Seguridad) ---
secrets.py
config.py